{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="add_product">
        <form method="POST" class="mt-5" action="{% url 'add' %}">
            {% csrf_token %}
            <label for="location">Location:</label>
            <input type="text" class="form-control" id="location" name="location">
        
            <label for="shape">Shape:</label>
            <select class="form-control" id="shape" name="shape">
                <option value="">--Select--</option>
                <option value="Oval">Oval</option>
                <option value="Circle">Circle</option>
                <option value="Shperical">Shperical</option>
                <option value="Parabolic">Parabolic</option>
                <option value="Rectagular">Rectagular</option>
                <option value="Cone">Cone</option>
                <option value="Cone">Cylinder</option>
            </select>
            <label for="location">Size:</label>
            <input type="number" class="form-control" id="size" name="size">
            <br>
            <label for="price_range">Price Range:</label>
            <input class="form-control" type="number" id="price" name="price" placeholder="Price">
            <br>
            <input class="form-control btn btn-primary" type="submit" value="Add">

        </form>
    </div>
</div>
<div class="container products mt-5">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Shape</th>
            <th scope="col">Size</th>
            <th scope="col">Location</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{product.id}}</td>
                    <td>{{product.shape}}</td>
                    <td>{{product.size}}</td>
                    <td>{{product.location}}</td>
                    <td>{{product.price}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="nextbtn container mb-3" style="display: flex;">
    <div class="next-btn" style="width: 50%;">
        {% if products.has_previous %}
            <button class="btn btn-primary"><a style="color: white; text-decoration: none;" href="{% url 'home' %}?page_num={{products.previous_page_number}}">Previous</a></button>
        {% else %}
            <button class="btn btn-primary" disabled>Previous</button>
        {% endif %}
    </div>
    <div class="previous-btn text-end" style="width: 50%;">
        {% if products.has_next %}
            <button class="btn btn-primary"><a style="color: white; text-decoration: none;" href="{% url 'home' %}?page_num={{products.next_page_number}}">Next</a></button>
        {% else %}
            <button class="btn btn-primary" disabled>Next</button>
        {% endif %}
    </div>
</div>
{% endblock %}