{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="amazon-login-form">
        <h2>Welcome to AmazingMart</h2>
        <form method="post">
            {% csrf_token %}
          <label for="username">Username</label>
          <input type="text" id="username" name="username">
          <br>
          <label for="password">Password</label>
          <input type="password" id="password" name="password">
          <br>
          <a href="#">Forgot your password?</a>
          <br><br>
          <input type="submit" value="Sign In">
        </form>
        <p>New to AmazingMart? <a href="#">Create your account</a></p>
      </div>
      
</body>
</html>