{% extends 'base.html' %}
{% block content %}
<style>
    form {
      width: 50%;
      margin: 0 auto;
    }
    label {
      font-weight: bold;
      display: block;
      margin-bottom: 0.5em;
    }
    input[type="text"], textarea, input[type="number"] {
      width: 100%;
      padding: 0.5em;
      margin-bottom: 1em;
    }
    input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 0.5em 1em;
      margin-top: 1em;
    }
  </style>
  
<div class="container products mt-5">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Address</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.first_name}} {{user.last_name}}</td>
                    <td>{{user.userprofile.age}}</td>
                    <td>{{user.userprofile.address}}</td>
                    <td data-bs-toggle="modal" data-bs-target="#staticBackdrop_{{user.id}}"><button class="btn btn-primary">Edit</button></td>
                </tr>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop_{{user.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel_{{user.id}}" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel_{{user.id}}">Edit User</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form method="post" action="{% url 'edit-user' user.id %}">
                                        {% csrf_token %}
                                        <label for="first_name">First Name:</label>
                                        <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}">
                                        <br>
                                        <label for="last_name">Last Name:</label>
                                        <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}">
                                        <br>
                                        <label for="age">Age</label>
                                        <input type="number" id="age" name="age" value="{{ user.userprofile.age }}">
                                        <br>
                                        <label for="address">Address</label>
                                        <textarea id="address" name="address">{{ user.userprofile.address }}</textarea>
                                        <br>
                                        <input type="submit" value="Save">
                                      </form>
                                      
                                </div>
                            </div>
                            </div>
                        </div>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}